:root{
    --primary-color: green;
    --secondary-color: brown;
    --accent1-color:blue;
    --accent2-color:yellow;
    --head-font: times new roman;
    --body-font: Arial, Helvetica, sans-serif;; 
}
header{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--accent2-color)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--body-font);
    color:var(--accent1-color);
}
header,main,footer{
    width:840px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--head-font);
    color:var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding:8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

section{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    background-color: #e5f107;
    color: #232322;
}
.hero article img{
    float: right;
    width: 200px;
}
form{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin:1rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #a65d05;
    color: #232322;
}