*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: block;
    max-width: 500px;
    
    background-color: #555;
    color: #fff;
}
h1{
    margin: 0.5rem;
}
form{
   
    background-color: #ddd;
    color: #333;
}
input,textarea,select,button{
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}
button{
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;

}
code{
    display: block;
    background-color: #000;
    color: #fff;
}
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 10% );
    background-color: #fff;
    color: #333;
}
.quiz-item{
    border: none;
}
