:root{
    --primary-color: #800033;
    --secondary-color: rgb(71, 165, 42);
    --accent1-color:blue;
    --accent2-color:yellow;
    --head-font: times new roman;
    --body-font: Arial, Helvetica, sans-serif;; 
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body{
    font-family: var(--body-font);
    color:var(--accent1-color);
}
header,main,footer{
    width:840px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--head-font);
    color:var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding:8px;
}
.socialmedia a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border: 1px solid var(--primary-color);
    margin: 0 8px;
}
.hero{
    position: relative;
}
.hero{
    border: #232322 1px solid;
    margin: 1rem;
    box-sizing: border-box;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:auto;
}
.hero h1{
    position: absolute;
}
.hero h1{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
.hero article{
    position: absolute;
}
.hero article{          
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;

}
h1{
    position: absolute;
    top: 10px;
    width: 50%;
    padding: 16px;
    text-align: right;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color:var(--secondary-color);
    
}
article{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    background-color: #e5f107;
    color: #232322;
}
.hero article img{
    float: right;
    width: 125px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}