:root{
    --primary-color: #800033;
    --secondary-color: rgb(71, 165, 42);
    --accent1-color:blue;
    --accent2-color:rgb(71, 71, 2);
    --head-font: times new roman;
    --body-font: Arial, Helvetica, sans-serif;; 
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: var(--body-font);
    color:var(--accent1-color);
}
header,main,footer{
    width:840px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--head-font);
    color:var(--secondary-color);
}
nav,p,section,article{
    margin: 16px;
    padding:8px;
}
.socialmedia a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border: 1px solid var(--primary-color);
    margin: 0 8px;
    display: flex;
    flex-direction: row-reverse;
}
.hero{
    position: relative;
}
.hero{
    border: #232322 1px solid;
    margin: 1rem;
    box-sizing: border-box;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:auto;
}
.hero h1{
    position: relative;
}
.hero h1{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
.hero article{
    position: relative;
}
.hero article{          
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;

}
h1{
    position: relative;
    top: 5px;
    width: 30%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color:var(--secondary-color);
    
}
article{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    background-color: #015456;
    color: #232322;
}
.hero article img{
    float: right;
    width: 125px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;


}
section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    
}
figure{
    border: #800033;
    display: flex;
    flex-shrink: var(--secondary-color);
    padding: 3px;
    margin: auto;
    max-width: 100px;
}
figcaption {
  background-color: #222222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}